.register-form{
    .form-group{
        .form-label{
            font-weight: 700;
        }

        .input-section{
            margin-bottom: 12px;

            .is-invalid-form{
                color: #dc3545;
            }
        }

        .form-submit{
            margin-right: 12px;
        }
    }

    .custom-label{
        margin-bottom: 8px;
    }

    .form-check{
        .input-checkbox{
            margin-bottom: 12px;

            .is-invalid-form{
                color: #dc3545;
            }
        }
    }
}