<div class="register-form">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let data of formData">
      <ng-container *ngIf="data.inputType == 'checkbox'; else commonInputType">
        <div class="form-check">
          <div class="input-checkbox">
            <label class="form-check-label" [ngClass]="{ 'is-invalid-form': hasError(submitted, f[data?.formControl].errors) }">
              <input [type]="data?.inputType" [formControlName]="data?.formControl" class="form-check-input"
              (change)="getSelectedCheckboxData($event, data);"/> 
              {{ data?.fieldName }} value  {{ f[data?.formControl].value}}
            </label>
            <div *ngIf="hasError(submitted, f[data?.formControl].errors)" [ngClass]="{
              'is-invalid-form': hasError(submitted, f[data?.formControl].errors),
              'invalid-feedback': hasError(!submitted,!f[data?.formControl].invalid) }">
                <div class="is-invalid-form"> {{ data?.errorMsg }}</div>
              </div>
          </div>
        </div>
      </ng-container>
      <ng-template #commonInputType>
        <div class="form-group">
          <label class="form-label"> {{ data?.fieldName }}</label>
          <div class="input-section">
            <input [type]="data?.inputType" [formControlName]="data?.formControl" class="form-control"
              [ngClass]="{ 'is-invalid': hasError(submitted, f[data?.formControl].errors) }" />
            <div *ngIf="hasError(submitted, f[data?.formControl].errors)" [ngClass]="{
            'is-invalid-form': hasError(submitted, f[data?.formControl].errors),
            'invalid-feedback': hasError(!submitted,!f[data?.formControl].invalid) }">
              <div class="is-invalid-form"> {{ data?.errorMsg }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <div class="form-group">
      <button type="submit" class="btn btn-primary form-submit">Register</button>
      <button type="button" (click)="onReset()" class="btn btn-warning">
        Reset
      </button>
    </div>
  </form>
</div>

<!-- <pre> {{ dynamicForm.value | json }}</pre> -->
<!-- <pre> {{ formData | json }}</pre> -->